<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="styles.css">
  <title>Решение квадратных уравнений</title>
</head>
<body>
  <form action="" method="post">
    <label for="a">a:</label>
    <input type="number" name="a"/>
    <br/>
      
    <label for="b">b:</label>
    <input type="number" name="b"/>
    <br/>
      
    <label for="c">c:</label>
    <input type="number" name="c"/>
    <br/>
    
    <input type="submit">
  </form>

  <dfn>D = </dfn>
  <label name="d">{{d}}</label>
  <br/>
  
  <dfn>x1 = </dfn>
  <label name="x1">{{x1}}</label>
  <br/>  
  
  <dfn>x2 = </dfn>
  <label name="x2">{{x2}}</label>
</body>
</html>